html,body,header, #intro{
    height: 100%;
    font-family: Comic Sans MS;
    
}

#intro{
    background: url(https://images.pexels.com/photos/204366/pexels-photo-204366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
}
.top-nav-collapse{
    background-color: rgb(20, 18, 18);
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: rgb(20, 18, 18);
    }
}
